<a id="overlay-hideshow" ngd-viewport-el></a> 
<h2> Overlay show/hide
  <a href="//developers.google.com/maps/documentation/javascript/examples/overlay-hideshow">Google Source</a>
</h2>
<plunker module-name="myapp">
  <plunker-code type="js" src="javascripts/overlay-hideshow.js"></plunker-code>
  <plunker-lib src="//ngmap.github.io/javascripts/USGSOverlay.js"></plunker-lib>
  <style plunker-code type="css">
    div[ng-controller=OverlayHideshowCtrl] {
      position: relative;
    }
    div[ng-controller=OverlayHideshowCtrl] #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -90px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }
  </style>
  <plunker-code type="html" ng-click="$broadcast('init-map57')">
    <div ng-controller="OverlayHideshowCtrl">
      <div id="panel">
        <input ng-click="toggleVisibility()" type=button value="Toggle Visibility">
        <input ng-click="toggleDOMAttachment()" type=button value="Toggle DOM Attachment">
      </plunker-code>
      <map init-event="init-map57" style="background:url(images/overlay-hideshow.png) center" zoom="11" center="62.323907, -150.109291" map-type-id="SATELLITE">
      </map>
    </div>
  </plunker-code>
  <plunker-show></plunker-show>
</plunker>
