
plunker-show .tabs,
*[plunker-show] .tabs {position: relative; top: 1px}
plunker-show .tabs::after,
*[plunker-show] .tabs::after {display:table; content:""; clear:both}
plunker-show .tabs a,
*[plunker-show] .tabs a {display:block; background:#ccc; float:left; padding: 5px; border:1px solid #ccc; border-bottom:none; border-radius: 4px 4px 0 0}
plunker-show .tabs a:not(:first-child),
*[plunker-show] .tabs a:not(:first-child) {border-left: none}
plunker-show .tabs a.hide,
*[plunker-show] .tabs a.hide {display:none}
plunker-show .tabs a.active, 
*[plunker-show] .tabs a.active {background: #fff;}
plunker-show .tabs a[href],
*[plunker-show] .tabs a[href] { float: right; background: #5bc0de; color: white; border: 1px solid #fff; border-radius: 4px; font-size: 14px; padding-bottom: 4px;}
plunker-show .tab-contents,
*[plunker-show] .tab-contents {padding: 1em; border: 1px solid #ccc; border-radius: 0 4px 4px 4px}
plunker-show .tab-contents *,
*[plunker-show] .tab-contents * {width: 100%; white-space: pre; font:0.9em Courier New; overflow:auto}

plunker-code:not([src]), *[plunker-code]:not([src]) { // no javascrpt with src attribute
  display:block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

plunker-code[type="html"], *[plunker-code][type="html"] {
  display:block;
  min-height: 200px;
  position: relative
}

plunker-code[type="html"] img`, *[plunker-code][type="html"] img{
  display:block;
  position: absolute;
  height: 300px;
}

plunker-code:after, *[plunker-code]:after {
  content: "";
  clear:both;
  display:table;
}
